<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FreeCodeCamp Url shortener Mircoservice Project</h1>
    <h2>Welcome to my awesome url shortener micro-service.<h2>
    <h3>Input a url you would like to shorten into the address bar like so:<h3>
    <p>https://urlshortenerfcc.herokuapp.com/new/https://"your address here!"</p>
    <h3>when you get the shortened link back you can put it in the address bar like this:<h3>
    <p>https://urlshortenerfcc.herokuapp.com/"shortened address here"</p>
  </body>
</html>
